Source: zlib
Section: core
Priority: optional
Maintainer: Alexander Shishkin <virtuoso@slind.org>
Standards-Version: 3.6.2
XCS-Cross-Host-Build-Depends: debhelper (>= 4.2), dbs (>= 0.21), cross-toolchain
Build-Depends: debhelper (>= 4.2), dbs (>= 0.21), cross-toolchain

Package: zlib1g
Section: core
Architecture: any
Depends: ${shlibs:Depends}
Priority: required
Conflicts: zlib1 (<= 1:1.0.4-7)
Provides: libz1
Description: compression library - runtime
 zlib is a library implementing the deflate compression method found
 in gzip and PKZIP.  This package includes the shared library.

Package: zlib1g-dev
Section: core
Architecture: any
Depends: zlib1g (= ${Source-Version}), cross-toolchain
Conflicts: zlib1-dev
Provides: libz-dev
Description: compression library - development
 zlib is a library implementing the deflate compression method found
 in gzip and PKZIP.  This package includes the development support
 files.

Package: zlib-bin
Section: core
Architecture: any
Depends: ${shlibs:Depends}
Description: compression library - sample programs
 Some generally useful sample programs from the contrib directory.
 Includes a "mini" implementation of `zip' and `unzip' called
 `minizip' and `miniunzip' respectively.

