Source: zlib
Section: core
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5), quilt
XCS-Cross-Host-Build-Depends: debhelper (>= 5), quilt

Package: libz1
Architecture: any
Depends: ${shlibs:Depends}
Description: compression library - runtime
 zlib is a library implementing the deflate compression method found
 in gzip and PKZIP.  This package includes the shared library.

Package: libz1-dev
Section: libdevel
Architecture: any
Depends: libz1 (= ${binary:Version})
Description: compression library - development
 zlib is a library implementing the deflate compression method found
 in gzip and PKZIP.  This package includes the development support
 files.

Package: libz1-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libz1 (= ${binary:Version}), minizip (= ${binary:Version})
Description: compression library - development
 zlib is a library implementing the deflate compression method found
 in gzip and PKZIP.  This package includes debugging symbols for use
 when debugging applications which use zlib.

Package: minizip
Architecture: any
Depends: ${shlibs:Depends}
Description: compression library - zip
 Includes a "mini" implementation of `zip' called `minizip'.
